.listItem {
    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
    font-size: large;
    font-weight: bold;
    color: #3e0046;
    border-radius: 10px;
    padding-left: 10px;;

}

button{
    width: 40px;
    height: 40px;
    border-style: none;
    background-color: transparent;
    font-size: larger;
    font-weight: 600;
    outline-style: none;
}

#check{
    color: #009688;
}

#edit{
    color: #3f51b5;
}

#delete {
    color: #cb3974;
}

.overline{
    text-decoration: line-through;
}

.editing{
    background-color: rgba(143, 139, 139, 0.301);

}

a{
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

