<app-input [edit]="todosService.editItem" (save)="onSubmit($event)"></app-input>

<app-filter [activeFilter]="todosService.activeFilter" (filterChange)="onFilterChange($event)"></app-filter>

<div *ngFor="let i of todosService.todoList; let first = first;">
    <hr *ngIf="!first">
    <app-list-item [item]="i" (edit)="onEditStart(i)" (done)="onDone(i)" (delete)="onDelete(i)"></app-list-item>

</div>

<app-paginator [pageIndex]="todosService.pageIndex" [pageSize]="todosService.pageSize"
    [totalCount]="todosService.totalCount" (pageChange)="onPageChange($event)" (clearAll)="onClear()"></app-paginator>