div {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

span{
    display: flex;
    align-items: center;
}

.date{
    font-size: small;
    font-style: italic;

}

.text{
    font-size: larger;
}