.container{
    display: flex;
    justify-content: space-between;
    width: 700px;
}


button{
    padding: 6px 8px;
    margin: 3px;
    margin-top: 6px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: antiquewhite;
    font-size: 14px;
    outline-width: 0;
    cursor: pointer;
    border-radius: 0px 0px 4px 4px;

    &:active{
        background-color: rgb(206, 193, 176);
    }

    &.active {
        background-color: rgb(255, 191, 108);
    }
}

input{
    width: 500px;
    padding: 6px 8px;
    margin: 3px;
    margin-top: 6px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    font-size: 14px;
    outline-width: 0;
    border-radius: 0px 0px 4px 4px;
   
}